/DeepSeek/
*.safetensors
DeepSeep-R1-Distill-Qwen-32B
/DeepSeek-R1-Distill-Qwen-32B/
/.idea/.gitignore
/data/cifar-10-batches-py/batches.meta
/data/cifar-10-python.tar.gz
/data/cifar-10-batches-py/data_batch_1
/data/cifar-10-batches-py/data_batch_2
/data/cifar-10-batches-py/data_batch_3
/data/cifar-10-batches-py/data_batch_4
/data/cifar-10-batches-py/data_batch_5
/logs/debug_log_rank0.txt
/.idea/LLM_inference.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/data/cifar-10-batches-py/readme.html
/data/cifar-10-batches-py/test_batch
/.idea/vcs.xml
/DeepSeek-R1-Distill-Qwen-32B/model-00001-of-00013.safetensors
/DeepSeek-R1-Distill-Qwen-32B/model-00002-of-00013.safetensors
/DeepSeek-R1-Distill-Qwen-32B/model-00003-of-00013.safetensors
/DeepSeek-R1-Distill-Qwen-32B/model-00004-of-00013.safetensors
/DeepSeek-R1-Distill-Qwen-32B/model-00005-of-00013.safetensors
/DeepSeek-R1-Distill-Qwen-32B/model-00006-of-00013.safetensors
/DeepSeek-R1-Distill-Qwen-32B/model-00007-of-00013.safetensors
/DeepSeek-R1-Distill-Qwen-32B/model-00008-of-00013.safetensors
/DeepSeek-R1-Distill-Qwen-32B/model-00009-of-00013.safetensors
/DeepSeek-R1-Distill-Qwen-32B/model-00010-of-00013.safetensors
/DeepSeek-R1-Distill-Qwen-32B/model-00011-of-00013.safetensors
/DeepSeek-R1-Distill-Qwen-32B/model-00012-of-00013.safetensors
/DeepSeek-R1-Distill-Qwen-32B/model-00013-of-00013.safetensors
/DeepSeek/
network/__pycache__/
models/__pycache__/
__pycache__/
.idea/